language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"

# command to install dependencies
install:
  - pip install six>=1.3
  - pip install -r requirements.txt
  - pip install coveralls

# command to run tests
script:
  - python setup.py install
  - nosetests --with-coverage --cover-package=proxalgs

after_success:
  - coveralls
